{
  "header": {
    "format": {
      "type": "jsonschema.blackrock.industryswarm.com/doc-types/db.database",
      "version": "{{format.version}}"
    },
    "type": "{{dbHeaderType}}"
  },
  "content": {{dbDocumentContent}}
}
