{
  "name": "{{serviceName}}",
  "host": "{{serviceHost}}",
  "basePath": "{{serviceBasePath}}",
  "active": {{serviceActive}},
  "exposeDefinition": {{serviceExposeDefinition}},
  "db": {
    "host": "{{serviceDbHost}}",
    "port": {{serviceDbPort}},
    "user": "{{serviceDbUser}}",
    "password": "{{serviceDbPassword}}",
    "schema": "{{serviceDbSchema}}"
  }
}
